/*NavBar CSS*/
.navbar-light .navbar-nav .nav-link {
    color: white;
}

#projectLogo{
    color:white;
    font-size:23px;
}

a.nav-link{
    color:rgb(214, 211, 211) !important;
}

.btn-outline-success{
    border:3px solid white;
    color:white;
}


/*centerContainer CSS*/
.centerContainer{
    width:68%;
    height:800px;

    margin:45px auto;
}

#ade{
    font-weight: 500;
    font-size:30px;
}

#test{
    color:gray;
    font-size:18px;
}

.bioDiv{
    background-color:rgba(247, 247, 247, 0.973);
    height:70px;
}

.bioContentDiv{
    width:85%;
    position: relative;
    left:30px;
    top:10px;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    font-weight: 500;
}

.columnFlex{
    display: flex;
    flex-direction: column;
}

.columnFlex >p{
    margin-bottom:0;
}



.bottomMargin{
    margin-bottom: 40px;
}

.ruleHeading{
    font-weight: 500;
    font-size:18px;
    margin-bottom: -5px;
}

.updateFlexDiv, .changeFlexDiv{
    width:85%;
    box-sizing: border-box;
    margin:0 auto;
}

label{
    color:black;
}



/*Footer CSS*/
footer{
    background-color:rgb(231, 227, 227);
    height:40px;
    color:rgb(100, 100, 100);
}

#ed{
    color:black;
}

.footerContent{
    display:flex;
    justify-content: flex-end;
    position: relative;
    left:-35px;
    top:10px;
}
