/*General Body CSS*/
body{
    margin:0;
    padding:0;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x:hidden;
}
input:focus{
    outline:none;
}
textarea:focus{
    outline:none;
}
/*NavBar for all projects*/
nav{
    width:100;
    height:55px;
    background-color:#007bff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.firstNavFlex{
    width:50%;
    height:45px;
    position: relative;
    left:20px;
    display: flex;
    align-items: center;
}

#projectLogo{
    text-decoration:none;
    color:white;
    font-size:23px;
    margin-right:15px;
    font-family: BlinkMacSystemFont;
}

.searchInput{
    width:200px;
    height:40px;
    padding: .375rem .75rem;
    border-radius: 3px;
    border: 0.4px solid #ced4da;  
    background-color:white;
    color:#495057e1;  
    margin-right:3px;
    font-size:17px;
}

input[type=search]:focus{
    outline:none;
}

.searchInput::placeholder{
    font-size:15px;
    color:#495057;
    position: relative;
    top:1px;
}

.searchButton{
    background-color: #007bff;
    border: 1px solid #fff;
    padding: .38rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color:#fff;
    font-size:16px;
}

.searchButton:hover{
    cursor: pointer;
    background-color:rgb(248, 247, 247);
    color:black;
}

#searchLink{
    position: relative;
    left:-30px;
}

#createLink{
    position: relative;
    left:-30px;
}

.secondNavFlex{
    width:15%;
    height:45px;
    position: relative;
    left:-20px;
    display: flex;
    align-items: center;
}

.navUl > li{
    display: inline;
    
}

.nav-item > a{
    text-decoration:none;
    color: #d6d3d3;
    padding:7px;
    font-size:17px;
}

#registerLink{
    position: relative;
    left:20px;
}
#loginLink{
    position: relative;
    left:20px;
}

/*Footer CSS*/
footer{
    background-color:rgb(231, 227, 227);
    height:45px;
    color:rgb(100, 100, 100);
}

#ed{
    color:black;
}

.footerContent{
    display:flex;
    justify-content: flex-end;
    position: relative;
    left:-35px;
    top:px;
}
















/*Index.html CSS*/
.indexCenterContainer{
    width:78%;
    height:700px;
    margin:20px auto;
}

.indexJumbotronContainer{
    width:100%;
    height:310px;
    background-color: #e9ecef;
    border-radius:5px;
    position: relative;
    top:10px;
}

.textFlex{
    width: 100%;
    height:100px;
    line-height:25px;
    position: relative;
    top:75px;
    left:25px;
    color:#212529;
}

.textFlex > p{
    padding:0;
    margin:0;
}

#projectExplorerHeading{
    font-size:39px;
}

.textMain{
    position: relative;
    top:20px;
    font-size: 18px;
    font-weight: 500;
}


.buttonFlex{
    display: flex;
    width:300px;
    height:50px;
    position: relative;
    top:90px;
    left:25px;
}

#getStartedButton{
    background-color: #007bff;
    padding: .2em .5em;
    font-size: 1.23em;
    border-radius: .4em;
    width:140px;
    height:50px;
    color:white;
    border-color: #007bff;
    margin-right:10px;
}

#getStartedButton,#loginButton:hover{
    cursor:pointer; 
}

#loginButton{
    background-color: #6c757d;
    border-color: #6c757d;
    padding: .2em .5em;
    font-size: 1.22em;
    border-radius: .4em;
    width:100px;
    height:50px;
    color:white;
}

.cardContainer{
    height:370px;
    position: relative;
    top:40px;
    display: flex;
    justify-content: space-between;
}

.cards{
    width:240px;
    height:270px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerCardContainer{
    width:90%;
    height:90%;
}

.cardHeader{
    color:#007bff;
    font-size:21px;
    font-weight: 500;
    position: relative;
    top:-25px;
}

.subHead{
    color: #6c757d;
    position: relative;
    top:-40px;
    font-weight: 500;
    font-size:16px;
}

.thirdHead{
    position: relative;
    top:-45px;
    line-height:25px;
    color:#212529;
    font-size:15.5px;
}

.fourthHead{
    color:#007bff;
    position: relative;
    top:-45px;
    font-size:15px;
}





/*Login.html*/
.loginCenterDiv{
    width:42%;
    height:300px;
    box-sizing: border-box;
    margin:80px auto;
}

#loginHtmlHeader{
    color:#212529;
    font-size:30px;
    font-weight: 500;
    position: relative;
    top:-30px;
}

label{
    display:block;
}

#loginEmailLabel{
    position: relative;
    top:-47px;
    font-size:16px;
    color:#212529;
}

#loginPassLabel{
    position: relative;
    top:-20px;
    color:#212529;
}

.loginEmail, .loginPassword{
    width:95%;
}

.loginEmail{
    position: relative;
    top:-35px;
}

.loginPassword{
    position: relative;
    top:-10px;
}

.loginHtmlButton{
    background-color: #007bff;
    font-size: 17px;
    border-radius: .2em;
    width:70px;
    height:38px;
    color:white;
    border-color: #007bff;
    position: relative;
    top:5px;
}















/*Search.html*/
.searchCenterContainer{
    width:65%;
    height:400px;
    margin:80px auto;
}

#searchProjectGallery{
    font-size:30px;
    margin-bottom:0;
    position: relative;
    top:-30px;
    color:#212529;
}

.searchDiv{
    width:100%;
    height:70px;
    position: relative;
    top:-20px;
    background-color: rgba(247, 247, 247, 0.973);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.form-control{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .3em;
}

#searchHtmlInput{
    width:470px;
    height:30px;
    position: relative;
    left:15px;
}

.searchBy{
    background-color: #e9ecef;
    width:100px;
    height:40px;
    position: relative;
    left:25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#495057;
    font-size:17px;
    border: 1px solid #ced4da;
    border-radius: .3em 0 0 .3em;   
}

#searchSelect{
    position: relative;
    left:25px;
    height:42px;
    width:130px;
}

.searchHtmlButton{
     background-color: #007bff;
    padding: .1 em .2em;
    font-size: 17px;
    border-radius: .4em;
    width:80px;
    height:38px;
    color:white;
    border-color: #007bff;
    position: relative;
    left:35px;
}

#allP{
color:#212529;
font-size:20px;
font-weight: 500;
}

.results{
    border:1px solid rgba(167, 165, 165, 0.6);
    width:200px;
    height:150px;
}

.mute{
    color:gray;
    font-size:15px;
}

.results>p:first-child{
    color:#007bff;
    font-weight: 500;
    font-size:20px;
    position: relative;
    top:-17px;
}

.results>p:nth-child(2)
{
    color:gray;
    font-size:18px;
    position: relative;
    top:-25px;
}

.results>p:nth-child(3)
{
    position: relative;
    top:-30px;
}

.results>p:nth-child(4)
{
    color:#007bff;
    position: relative;
    top:10px;
    font-weight: 500;
    position: relative;
    top:-20px;
}

#searchFooter{
    position: absolute;
    bottom:0;
    width:100%;
}







/*Register.html*/
.registerCenterContainer{
    width:55%;
    height:380px;
    margin:50px auto;
    
}

#registerSignup{
    color:#212529;
    font-size:32px;
    font-weight: 500;
}

#marginBottom{
    margin-bottom:50px;
}

#namePositioning{
    position: relative;
    display: block;
    top:3px;
    width:100px;
    font-size:16px;
    color:#212529;
}

#emailPos{
     position: relative;
    display: block;
    top:3px;
    width:120px;
    font-size:16px;
    color:#212529;
}


#lNamePos{
    position: relative;
    top:-15px;
    float:right;
    left:-269px;
    width:100px;
    font-size:16px;
    color:#212529;
}

#passPos{
    position: relative;
    top:-15px;
    float:right;
    left:-269px;
    width:100px;
    font-size:16px;
    color:#212529;
}

#matricPos{
     position: relative;
    top:-15px;
    float:right;
    left:-205px;
    width:160px;
    font-size:16px;
    color:#212529;
}

#gradPos{
     position: relative;
    top:-53px;
    float:right;
    left:-55px;
    width:120px;
    font-size:16px;
    color:#212529;
}

#fName{
    width:46%;
    position: relative;
    top:10px;
}

#emailRegister{
    width:46%;
    position: relative;
    top:10px;
}

#program{
    width:50%;
    height:37px;
    position: relative;
    top:10px;
}

#matric{
    width:21%;
    position: relative;
    left:5px;
    top:10px;
}

#lName{
    width:46%;
    position: relative;
    left:380px;
    top:-28px;
}

#graduation{
    width:23%;
    height:37px;
    position: relative;
    left:578px;
    top:-28px;
}

#passwordRegister{
    width:46%;
    position: relative;
    left:380px;
    top:-28px;
}

.registerFlexA{
    width:100%;
    height:75px;
    position: relative;
    top:-30px;
}

.registerFlexB{
    width:100%;
    height:75px;
    position: relative;
    top:-20px;
}

.registerFlexC{
     width:100%;
    height:75px;
    position: relative;
    top:-10px;
}

.registerBtn{
    background-color: #007bff;
    font-size: 17px;
    border-radius: .2em;
    width:95px;
    height:38px;
    color:white;
    border-color: #007bff;
    position: relative;
    top:5px;
}













/*Profile.html*/
.profileCenterContainer{
     width:68%;
    height:800px;
    margin:41px auto;
}

#profileAde{
    font-weight: 500;
    font-size:30px;
}

#profileTest{
    color:gray;
    font-size:18px;
}

.bioDiv{
    background-color:rgba(247, 247, 247, 0.973);
    height:70px;
}

.bioContentDiv{
    width:85%;
    position: relative;
    left:30px;
    top:10px;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    font-weight: 500;
}

.columnFlex{
    display: flex;
    flex-direction: column;
    position: relative;
    top:-12px;
}

.columnFlex >p{
    margin-bottom:-10px;
    font-size:17px;
    color:black;
    font-weight: 500;
}

.bottomMargin{
    margin-bottom: 40px;
}

.profileRuleHeading, .profilePasswordHeading{
    font-weight: 500;
    font-size:19px;
    margin-bottom: -5px;
}

.profileFormContainer{
    width:85%;
    box-sizing: border-box;
    margin:0 auto;
    height:320px;
    position: relative;
    top:-10px;
}

#profileFpos{
    position: relative;
    display: block;
    top:3px;
    width:100px;
    font-size:16px;
    color:#212529;
}

#profileFirstInput{
    width:45%;
    position: relative;
    top:10px;
}

#profileLpos{
    position: relative;
    top:-15px;
    float:right;
    left:-275px;
    width:100px;
    font-size:16px;
    color:#212529;
}

#profileSecondInput{
    width:45%;
    position: relative;
    left:400px;
    top:-28px;
}

#profileEmailPos{
position: relative;
    display: block;
    top:3px;
    width:120px;
    font-size:16px;
    color:#212529;
}

#profileEmailRegister{
    width:45%;
    position: relative;
    top:10px;
}

#profileProgram{
 position: relative;
    top:-15px;
    float:right;
    left:-315px;
}

#profileSelectDropdown{
width:49%;
    height:37px;
    position: relative;
    left:396px;
    top:-28px;
}

#profileMatric{

    width:160px;
    font-size:16px;
    color:#212529;
}

#profileMatricInput{
    width:45%;
    position: relative;
    top:10px;
}

#profileGrad{
    position: relative;
    top:-15px;
    float:right;
    left:-257px;
    width:120px;
    font-size:16px;
    color:#212529;
}

#profileGradDropdown{
    width:49%;
    height:37px;
    position: relative;
    left:395px;
    top:-28px;
}

.updateProfileBtn{
     background-color: #007bff;
    font-size: 16px;
    border-radius: .2em;
    width:130px;
    height:38px;
    color:white;
    border-color: #007bff;
    position: relative;
    top:-3px;
}

.profilePasswordDiv{
    width:85%;
    box-sizing: border-box;
    margin:0 auto;
    height:130px;
    position: relative;
    top:10px;
}

#cPassword{
    width:28%;
    position: relative;
    top:10px;
}

#nPassword{
width:28%;
position: relative;
top:-45px;
left:265px;
}

#confirmPassword{
width:28%;
position: relative;
top:-100px;
left:533px;
}

#passwordCurrent{
position: relative;
top:5px;
color:#212529;
}

#passwordNew{
    position: relative;
    top:-50px;
    left:270px;
    color:#212529;
}

#passwordConfirm{
    position: relative;
    top:-105px;
    left:540px;
    color:#212529;
}

.profileChangeP{
    background-color: #007bff;
    font-size: 16px;
    border-radius: .2em;
    width:150px;
    height:38px;
    color:white;
    border-color: #007bff;
    position: relative;
    top:-40px;
    left:70px;
}






/*createProject.html */
.createProjectCenterContainer{
    width:42%;
    height:600px;
    margin:50px auto;
    position: relative;
    top:20px;
}

#createProjHeading{
    font-weight: 500;
    font-size:26px;
    position: relative;
    top:-25px;
}

#createProjLabel{
    color:#212529;
    position: relative;
    top:-40px;
}

#createProjectInput{
    width:95%;
    position: relative;
    top:-31px;
    height:30px;
}

#createProjTextLabel{
    color:#212529;
    position: relative;
    top:-5px;
}

#createAbstractText{
    width:95%;
    height:180px;
}

#CreateAuthorInput{
    width:95%;
    height:30px;
    position: relative;
    top:30px;
}

#createAuthorLabel{
    color:#212529;
    position: relative;
    top:20px;
}

#createTagLabel{
    color:#212529;
    position: relative;
    top:50px;
}

#CreateTagInput{
width:95%;
height:30px;
position: relative;
top:60px;
}

.createProjBtn{
    background-color: #007bff;
    font-size: 16px;
    border-radius: .2em;
    width:90px;
    height:38px;
    color:white;
    border-color: #007bff;
    position: relative;
    top:75px;  
}






/*Editproject.html*/
.editCenterContainer{
    width:75%;
    height:760px;
    margin:80px auto;
}

#editHeader{
    font-size:27px;
    color:#212529;
    font-weight: 500;
    position: relative;
    top:-30px;
}

.editProjDiv{
    background-color:rgb(233, 232, 232);
    height:70px;
    position: relative;
    top:-50px;
}

.editContent{
    width:93%;
    position: relative;
    left:30px;
    top:5px;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    font-weight: 500;
}

.editProjFlex{
    display: flex;
    flex-direction: column;
    position: relative;
    top:-12px;
}

.editProjFlex > .editFirst{
    color:black;
    font-size:18px;
}

.editProjFlex > .editBold{
    color:rgba(0, 0, 0,0.9);
    font-size:17px;
    font-weight: 600;
}

.editProjFlex >p{
    margin-bottom:-10px;
    line-height: 22px;
}


.editProjBtn{
     background-color: #007bff;
    font-size: 16px;
    border-radius: .2em;
    width:120px;
    height:38px;
    color:white;
    border-color: #007bff;
    position: relative;
    top:10px;
}

.editFlexFormContainer{
    width:100%;
    height:500px;
    display:flex;
    justify-content: space-between;
}

.effc1{
    width:49%;
    height:615px;
}

.effc2{
    width:49%;
    height:615px;
}

#editProjHeader{
    font-size:28px;
    color:#212529;
    font-weight: 500;
    margin-bottom:0;
    position: relative;
    top:-20px;
}

.editProjRule{
    position: relative;
    top:-20px;
    opacity: 0.5;
}

.editProjForm{
    height:550px;
    position: relative;
    top:-15px;
}

#editProjectLabel{
    color:#212529;
    position: relative;
    top:10px;
}

#editProjectLabelInput{
    width:94%;
    position: relative;
    top:20px;
    height:30px;
}

#editAbstract{
    color:#212529;
    position: relative;
    top:40px;
}

#editTextArea{
    width:94%;
    height:130px;
    position: relative;
    top:50px;
}

#editAuthorLabel{
     color:#212529;
    position: relative;
    top:20px;
    position: relative;
    top:70px;
}

#editAuthorInput{
    width:94%;
    height:30px;
    position: relative;
    top:30px;
    position: relative;
    top:80px;
}

#editTag{
     color:#212529;
    position: relative;
    top:100px;
}

#editTagInput{
    width:94%;
height:30px;
position: relative;
top:110px;
}

#editButton{
    background-color: #007bff;
    font-size: 16px;
    border-radius: .2em;
    width:70px;
    height:38px;
    color:white;
    border-color: #007bff;
    position: relative;
    top:130px; 
}

.editChooseFile{
    background-color: #e9ecef;
    height:50px;
    display: flex;
    align-items: center;
    position: relative;
    top:-10px;
}
input[type="file" i]{
   background-color:#e9ecef;
   border:none;
   color:#495057;
   font-size:17px;
}

#secondRule{
    position: relative;
    top:0px;
}

.cardProject{
height:60px;
background-color:#dddde0;
border-radius: 3px;
position: relative;
top:-20px;
}

.cardProject>p{
    font-weight: 500;
    font-size:20px;
    position: relative;
    top:20px;
    left:15px;
}

.innerCardProject{
     border:1px solid #a3a4a5;
     border-top:none;
     height:70px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.innerCardProject>p{
    font-weight: 500;
    font-size:18px;
}

.editCardContainer{
    border:1px solid #a3a4a5;
    height: 60px;
}


/*View Project.html*/
.viewProjectForm{
    height:550px;
    position: relative;
    top:-15px;
}

.view1{
    width:49%;
    height:520px;
}

#loremDiv{
    line-height:25px;
    color:#212529;
    position: relative;
    top:-5px;
}

.view2{
    width:49%;
    height:520px;
}

#viewHeader{
    font-size:24px;
    color:#212529;
    font-weight: 500;
    margin-bottom:0;
    position: relative;
    top:-20px;
}

.editProjRule{
    position: relative;
    top:-20px;
    opacity: 0.5;
}

.editProjForm{
    height:550px;
    position: relative;
    top:-15px;
}



#commentLabel{
    color:black;
    position: relative;
    top:100px;
    font-weight: 500;
    font-size:22px;
}

#formTextArea{
    width:94%;
    height:90px;
    position: relative;
    top:110px;
    font-size:17px;
}

#viewButton{
    background-color: #007bff;
    font-size: 16px;
    border-radius: .2em;
    width:90px;
    height:38px;
    color:white;
    border-color: #007bff;
    position: relative;
    top:130px; 
}

#viewmarginBottom{
    margin-bottom:30px;
}

.viewCards{
    border:1px solid #a8aaac;
    height:220px;
    border-radius: 3px;
}

.viewAuthorDiv{
    background-color:#ebecec;
    height:55px;
    position: relative;
    top:-20px;
    border-bottom:1px solid #a8aaac;
}

.viewTags{
    background-color:#ebecec;
    height:61px;
    position: relative;
    top:-38px;
}

.viewTags>p{
    color:#007bff;
    font-weight: 500;
    font-size: 19px;
    position: relative;
    top:17px;
    left:24px;
}

.viewContent{
   border-bottom:1px solid #a8aaac;
    position: relative;
    top:-20px;
}

.viewContent>p{
    color:#212529;
    position: relative;
    left:20px;
}

.viewAuthorDiv>p{
    font-size:20px;
    color:#212529;
    position: relative;
    top:15px;
    left:15px;
}

.cardProject{
height:60px;
background-color:#dddde0;
border-radius: 3px;
position: relative;
top:-20px;
}

.cardProject>p{
    font-weight: 500;
    font-size:20px;
    position: relative;
    top:20px;
    left:15px;
}

.innerCardProject{
     border:1px solid #a3a4a5;
     border-top:none;
     height:70px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.innerCardProject>p{
    font-weight: 500;
    font-size:18px;
}

.editCardContainer{
    border:1px solid #a3a4a5;
    height: 60px;
}
